---
// 引入Artalk的CSS和JS文件
---
<div id="Comments"></div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // 初始化Artalk
    Artalk.init({
      el:        '#Comments', 
      server:    'https://artalk.loliko.cn/', 
      site:      'ittst', 
    });
    // 使用swup的contentReplaced事件
    if (typeof Swup !== 'undefined') {
      Swup.on('contentReplaced', function() {
        // 重新初始化Artalk
        Artalk.init({
          el:        '#Comments', 
          server:    'https://artalk.loliko.cn/', 
          site:      'ittst', 
        });
      });
    }
  });
</script>