---
const { site, server } = Astro.props;
---

<link href="https://artalk.loliko.cn/dist/Artalk.css" rel="stylesheet">
<script is:inline data-astro-rerun src="https://artalk.loliko.cn/dist/Artalk.js"></script>
<div id="Comments"></div>

<script is:inline data-astro-rerun>
  function initializeArtalk() {
    try {
      Artalk.init({
        el: '#Comments',
        server: 'https://artalk.loliko.cn', 
        site: 'ittst',
      });
    } catch (error) {
      console.error('Artalk initialization failed:', error);
    }
  }

  document.addEventListener('astro:page-load', () => {
    initializeArtalk();
  });
</script>