---
const { site, server } = Astro.props;
---

<link href="https://artalk.loliko.cn/dist/Artalk.css" rel="stylesheet">
<script is:inline src="https://artalk.loliko.cn/dist/Artalk.js"></script>
<div id="Comments"></div>
<script is:inline>
 function initializeArtalk(document) {
  Artalk.init({
    el:        '#Comments', 
    server:    'https://artalk.loliko.cn', 
    site:      'ittst', 
  });
    }
  document.addEventListener('DOMContentLoaded', () => {
    initializeArtalk(document);
  });

  document.addEventListener('astro:before-swap', event => {
    // 自定义交换实现
    event.swap = () => {
      diff(document, event.newDocument);
    };

    // 初始化 Artalk
    initializeArtalk(event.newDocument);
  });

  function diff(oldDocument, newDocument) {
    // 自定义的 diff 实现
    // 例如，比较两个文档的全部内容
    console.log('Custom swap implementation');
    // 这里可以添加你自己的逻辑
  }
</script>
