---

---
<style>
  #Comments {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  #Comments.loaded {
    opacity: 1;
  }
</style>
<div id="Comments"></div>
<script>
import Artalk from 'artalk';
// 初始化 Artalk
const initArtalk = () => {
  const artalk = new Artalk({
    el: '#Comments',
    site: 'ittst',
    server: 'https://artalk.loliko.cn',
  });

  // 添加 loaded 类名以触发转场效果
  document.getElementById('Comments').classList.add('loaded');
};
// 在页面加载完成后初始化 Artalk
window.addEventListener('load', initArtalk);
</script>