---
const { site, server } = Astro.props;
---

<link href="https://artalk.loliko.cn/dist/Artalk.css" rel="stylesheet">
<script src="https://artalk.loliko.cn/dist/Artalk.js"></script>
<div id="Comments"></div>
<script is:inline>
 function initializeArtalk(document) {
  Artalk.init({
    el:        '#Comments', 
    server:    'https://artalk.loliko.cn', 
    site:      'ittst', 
  });
    }
  document.addEventListener('DOMContentLoaded', () => {
    initializeArtalk(document);
  });

  document.addEventListener('astro:before-swap', event => {
    // Pass the incoming document to initialize Artalk on it
    initializeArtalk(event.newDocument);
  });
</script>
