---
const { site, server } = Astro.props;
---

<link href="https://artalk.loliko.cn/dist/Artalk.css" rel="stylesheet">
<script src="https://artalk.loliko.cn/dist/Artalk.js"></script>
<div id="Comments"></div>
<script>
document.addEventListener('astro:before-swap', () => {
  Artalk.init({
    el:        '#Comments', 
    server:    {server}, 
    site:      {site}, 
  });
    });
document.addEventListener('astro:before-swap', () => {    
    Artalk.init({
    el:        '#Comments', 
    server:    {server}, 
    site:      {site}, 
  });
    });
</script>
