---
// 引入Artalk的CSS和JS文件
---
<link href="https://artalk.loliko.cn/dist/Artalk.css" rel="stylesheet">
<script src="https://artalk.loliko.cn/dist/Artalk.js"></script>
<div id="Comments"></div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    Artalk.init({
      el:        '#Comments', 
      server:    'https://artalk.loliko.cn/', 
      site:      'ittst', 
    });
  });
</script>